YIPPIE_USERPOOLID=eu-central-1_zHXNt56dU
YIPPIE_CLIENTID=5brts50g06t59npkbv8t3r2tva
YIPPIE_BUCKET=yippiecloud-artifacts
YIPPIE_REGION=eu-central-1
YIPPIE_IDENTITYPOOLID=eu-central-1:b149ff98-8ae0-4157-b245-de1a8f8c2461
YIPPIE_ARTIFACTDEPLOMENT_FUNCTION=yippiecloud-artifact-deployment-function